.button{
    margin:3px;
    color:black;
    background-color: rgb(230, 230, 230);
}

.number{
    margin-top: 5px;
    align-items: center;
    color:black;
}

.div{
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    margin:50px;
    padding:20px;
}

.text{
    font-weight: bold;
    font-size: 20px;
    color:black;
}